H1 {
    text-align: center;
    font-family: 'Germania One';
    font-size: 100px;
    padding: 1px;
    margin-bottom:0.1px;
}

H2 {
    text-align: left;
    font-family: 'Germania One';
    font-size: 85px;
}

H3 {
    text-align: left;
    font-family: 'Germania One';
    font-size: 85px;
}

body {
    background-color: lightsalmon;
}

.img-tamaño {
    
    width: 5%;
    padding: 1px;
}

.img-centrada {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:1px;
}

.subtitle {
        font-family: 'Baloo Chettan';
        font-size:30px;
        text-align:center;
        
}

a {
    color: lightyellow;
    
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


