H1 {
    text-align: center; 
    font-family: 'Germania One';
    font-size: 100px;
}

H2 {
    text-align: left
}

body {
    background-color: lightsalmon;
}

.img-tacc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding: 0,1px;
}
